/* Rules for small devices (mobile vertical) */

* {
    margin:0;
    padding:0;
    box-sizing:border-box; /* height and width will include border and padding */
    }

body{
    background-color:#eee;
}

header{
    display:block;
    min-height:3rem;
    background-color:#fff; /* also can be 'white' 
                            or 'rgb(255,255,255)' 
                            or 'rgba(255,255,255,1.0)' */
}

main {}

footer{
    display:block;
    background-color:#444;
    color: #fff; /* font color */
    min-height: 10rem;
}

/* Rules for mobile horisontal and tablet vertical */
@media (min-width:560px) and (max-width:767px) {}

/* Rules for tablet horisontal and small ultrabook screens */
@media (min-width:560px) and (max-width:767px) {}

/* Rules commot to screens bigger than tablet screens */
@media (min-width:768px) {}

/* Rules for middle screens */
@media (min-width:768px) and (max-width:919px) {}

/* Rules for large screens */
@media (min-width:920px) and (max-width:1199px) {}

/* Rules for extra large screens */
@media (min-width:1200px) {}
