/* Rules for small devices (mobile vertical) */
@font-face{
    font-family:'Titillium Web';
    src:url(../fonts/TitilliumWeb-Regular.ttf);
}


* {
    margin:0;
    padding:0;
    box-sizing:border-box; /* height and width will include border and padding */
    }

body{
    display:flex; /* read more at https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    flex-direction:column;
    min-height:100vh; /* 100% viewport height */
    font-family: 'Titillium Web', sans-serif;
    color:#444;
}

header{
    display:block;
    min-height:3rem;
    background-color:#fff; /* also can be 'white' 
                            or 'rgb(255,255,255)' 
                            or 'rgba(255,255,255,1.0)' */
}

main {
    flex: 1 0 auto;
    padding-bottom: 1rem;
}

main > div.container{
    display:block;
    background-color:white;
}

footer{
    display:flex;
    flex-direction: column;
    background-color:#444;
    color: #fff; /* font color */
    min-height: 10rem;
    padding-top:1rem;
}

footer > .container{
    flex-grow: 1;
}

footer .copyright{
    padding:.5rem 0;
    color:#888;
    text-align: center;
    font-size: .7rem;
    background-color: rgba(0,0,0,.4);
}

nav ul{
    list-style:none;
    display:none;
    flex-direction:column;
    justify-content:space-around;
}

header > nav{
    display:flex;
    justify-content:space-between;
}

nav .brand{
    padding:1rem;
    color:red;
}

nav ul li {
    padding:1rem;
}

section > a > .product h3,
a,
nav ul li a{
    transition: all .3s ease-in-out 0s;
}

nav ul li a{
    text-decoration:none;
    color:#888;
}

nav ul li a:hover{
    color:#444;
}

.container{
    width:100%;
    margin:0 auto;
}

#mobile-menu-button{
    display:block;
    padding:1rem;
    background:none;
    border:none;
    color:#888;
    cursor:pointer;
    align-self:flex-start;
}

#mobile-menu-button:hover{
    color:#444;
}

ul.active{
    display:flex;
}

.carousel{
    width:100%;
}

.carousel-item{
    width:100%;
    height:75vh;
    background-color:gray;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.carousel-item > div{
    height: 100%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel-item > div > h2{
    text-align: center;
    margin-bottom:1rem;
}

.carousel-item > div > h2,
.carousel-item > div > a.button{
    color:white;
}

.carousel-item > div > a.button:hover{
    color:#00B5AD;
    border-color: #00B5AD;
}

.carousel-item > div > a.button{
    padding:.5rem 1rem;
    border:.07rem solid white;
    text-decoration: none;
    border-radius: .2rem;
}

.carousel-item > div > a.button-green:hover{
    color:green;
    border-color:green;
}

h2.separator{
    text-align:center;
    padding-top:2rem;
    padding-bottom:1rem;
}

section{
    display:flex;
    flex-direction: column;
}

section > .section-image{
    background-size: contain;
    background-position: center;
    background-image: url(../imgs/sections/01.png);
    background-repeat: no-repeat;
}

section > .section-text{
    padding:1rem;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section > .section-text > h3{
    margin-bottom:1rem;
}

section > .section-image,
section > .section-text{
    width:100%;
    min-height:20rem;
}

section:nth-child(even) > .section-image,
section:nth-child(odd) > .section-image{
    order:0;
}

section:nth-child(even) > .section-text,
section:nth-child(odd) > .section-text{
    order:1;
}

section > a {
    width:100%;
    text-decoration:none;
    color:#444;
}

section > a > .product{
    width:100%;
    background-color:#888;
}

section > a:nth-child(odd) > .product{
    background-color:#444;
}

section > a > .product:before{
    content:"";
    display:block;
    padding-top:75%;
}

section > a > .product > .product-content{
}

section > a > .product h3{
    background-color:rgba(255,255,255,.5);
    text-align:center;
    padding:1rem;
    height:25%;
}

section > a:hover .product h3{
    background-color:white;
}


.address{
    list-style: none;
}


/* Rules for mobile horisontal and tablet vertical */
@media (min-width:560px) and (max-width:767px) {
    section > a {width:50%;}
   .products{flex-direction:row;flex-wrap:wrap;} 
}

/* Rules commot to screens bigger than tablet screens */
@media (min-width:768px) {
    nav > ul{display:flex; flex-direction:row;}
    #mobile-menu-button{display:none;}
    section{flex-direction: row;}
    section > .section-image,
    section > .section-text{width:50%;}
    section:nth-child(even) > .section-image,
    section:nth-child(odd) > .section-text{order:0;}
    section:nth-child(odd) > .section-image,
    section:nth-child(even) > .section-text{order:1;}
    section > a {width:25%;}
   .products{flex-direction:row;flex-wrap:wrap;} 
}

/* Rules for tablet horisontal and small ultrabook screens */
@media (min-width:768px) and (max-width:919px) {
    section > a {width:50%;}
}

/* Rules for middle screens */
@media (min-width:920px) and (max-width:1199px) {
    .container{width:75%;}
}

/* Rules for large screens */
@media (min-width:1200px) {
    .container{width:65%;}
}
