/* Rules for small devices (mobile vertical) */

* {
    margin:0;
    padding:0;
    box-sizing:border-box; /* height and width will include border and padding */
    }

body{
    background-color:#eee;
    display:flex; /* read more at https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    flex-direction:column;
    min-height:100vh; /* 100% viewport height */
    font-family:sans-serif;
}

header{
    display:block;
    min-height:3rem;
    background-color:#fff; /* also can be 'white' 
                            or 'rgb(255,255,255)' 
                            or 'rgba(255,255,255,1.0)' */
}

main {
    flex: 1 0 auto;
    padding-bottom: 1rem;
}

main > div.container{
    display:block;
    background-color:red;
}

footer{
    display:block;
    background-color:#444;
    color: #fff; /* font color */
    min-height: 10rem;
}

nav ul{
    list-style:none;
    display:none;
    flex-direction:column;
    justify-content:space-around;
}

header > nav{
    display:flex;
    justify-content:space-between;
}

nav .brand{
    padding:1rem;
    color:red;
}

nav ul li {
    padding:1rem;
}

nav ul li a{
    transition: all .3s ease-in-out 0s;
}

nav ul li a{
    text-decoration:none;
    color:#888;
}

nav ul li a:hover{
    color:#444;
}

.container{
    width:100%;
    margin:0 auto;
}

#mobile-menu-button{
    display:block;
    padding:1rem;
    background:none;
    border:none;
    color:#888;
    cursor:pointer;
}

#mobile-menu-button:hover{
    color:#444;
}

ul.active{
    display:flex;
}

.carousel{
    width:100%;
}

.carousel-item{
    width:100%;
    min-height:100vh;
    background-color:gray;
}

section{
    display:flex;
}

/* Rules for mobile horisontal and tablet vertical */
@media (min-width:560px) and (max-width:767px) {
    main > div.container{background-color:orange;}
}

/* Rules commot to screens bigger than tablet screens */
@media (min-width:768px) {
    nav > ul{display:flex; flex-direction:row;}
    #mobile-menu-button{display:none;}
}

/* Rules for tablet horisontal and small ultrabook screens */
@media (min-width:768px) and (max-width:919px) {
    main > div.container{background-color:yellow;}
}

/* Rules for middle screens */
@media (min-width:920px) and (max-width:1199px) {
    main > div.container{background-color:green;}
    .container{width:920px;}
}

/* Rules for large screens */
@media (min-width:1200px) {
    main > div.container{background-color:skyblue;}
    .container{width:920px;}
}
